<div class = "sessions-new">
  <div class = "image-div">
    <h1>Everybody is an Ally.</h1>
    <h2>Help each other get home safe.</h2>
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <div class="button round"><%= f.submit "Log in" %></div>
        <div class="button round">Request an Invite</div>
      </div>

      <div class="button round">Register Your Org</div>
      <div class="button round">About Us</div>
    </div>
  <% end %>
</div>
